.seperator {
	position: absolute;
	width: 100%;
	left: 0px;
	padding: 6px 0px;
	cursor: ns-resize;

	.seperator-img {
		pointer-events: none;
		background-image: url('/assets/images/seperator.png');
		width: 39px;
		margin: auto;
		height: 7px;
	}
}

.player-container {
	margin: auto;
    margin-top: 20px;
}

.resize-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.segments {
	position: absolute;
	display: flex;
	width: 100%;
	overflow: scroll;

	.timeline-progress-bar {
		cursor: pointer;
		position: absolute;
		height: 6px;
		padding-top: 7px;

		.play-progress {
			position: absolute;
			height: 100%;
			background-color: #f12b24;
		}

		.load-progress {
			position: absolute;
			height: 100%;
			background-color: #eee;
		}

		.hover-progress {
			position: absolute;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.15);
		}

		.progress-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #f7f7f7;
		}

	}

	.ticks {
		background-image: url('/assets/images/ticks.png');
		background-repeat: repeat-x;
		height: 10px;
		top: 15px;
		position: absolute;
		z-index: -1;
	}

	.segment {
		flex: 0 0 300px;
		border-left: 1px solid #eee;
		display: flex;
		margin-top: 16px;
		flex-direction: column;

		.segment-time {
			margin: 13px 0 0 8px;
			font-size: 0.85em;
			color: #aaa;
		}

		.segment-comments {
			flex: 1;
			overflow: scroll;		

			.segment-comments-comment {
				border: 1px solid #ddd;
				margin: 8px;
				border-radius: 5px;
				padding: 6px 10px;
				font-size: 0.9em;
				overflow: hidden;

				.comment-avatar {
					.comment-avatar-image {
						vertical-align: middle;
						width: 30px;
						float: left;
						margin: 2px 8px 0px 0px;
					}
				}

				.comment-name {
					font-weight: bold;
				}

				.comment-replies {
					margin: 10px -10px -6px;

					.comment-replies-reply {
						padding: 10px;
						border-top: 1px solid #ddd;
					}
				}
			}
		}
	}
}

.timeline-controls {
	position: fixed;
	width: 70px;
	height: 50px;
	background: linear-gradient(white 0%, #f7f7f7 100%);
	z-index: 1000;
	margin-top: 21px;
	margin-left: -35px;
	border: 1px solid #eee;
	box-shadow: 0px 3px 3px -3px;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;

	.timeline-controls-thingy {
		width: 10px;
		height: 10px;
		border-top: 1px solid #eee;
		border-left: 1px solid #eee;
		transform: rotate(45deg);
		margin: auto;
		margin-top: -6px;
		background-color: white;
	}

	.timeline-controls-padder {
		background-color: transparent;
		height: 8px;
		margin-top: -8px;
	}

	.timeline-controls-time {
		margin-top: 3px;
		font-size: 0.8em;
		color: #A9A9A9;
		text-shadow: 0px 1px white;
		background-color: #F7F7F7;
		padding-bottom: 1px;
		border-top: 1px solid #E8E8E8;
		border-radius: 0px 0px 6px 6px;
	}

	.timeline-controls-icon {
		font-size: 1.2em;
		margin: 4px 0px 3px;
		text-shadow: 0px 1px white, 0px -1px #676767;
		color: #C3C3C3;
	}
}

.timeline-controls:hover {
	display: block !important;

	.timeline-controls-icon {
		transform: scale(1.4);
		transition: all 0.3s;
		color: #1EB9FF;
	}
}