.seperator {
	position: absolute;
	width: 100%;
	left: 0px;
	padding: 6px 0px;
	cursor: ns-resize;

	.seperator-img {
		pointer-events: none;
		background-image: url('/assets/images/seperator.png');
		width: 39px;
		margin: auto;
		height: 7px;
	}
}

.player-container {
	margin: auto;
    margin-top: 20px;
}

.resize-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.segments {
	position: absolute;
	display: flex;
	width: 100%;
	overflow: scroll;

	.timeline-progress-bar {
		cursor: pointer;
		position: absolute;
		height: 6px;
		padding-top: 7px;

		.play-progress {
			position: absolute;
			height: 100%;
			background-color: #f12b24;
		}

		.load-progress {
			position: absolute;
			height: 100%;
			background-color: #eee;
		}

		.hover-progress {
			position: absolute;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.15);
		}

		.progress-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #f7f7f7;
		}

	}

	.ticks {
		background-image: url('/assets/images/ticks.png');
		background-repeat: repeat-x;
		height: 10px;
		top: 15px;
		position: absolute;
		z-index: -1;
	}

	.segment {
		flex: 0 0 300px;
		border-left: 1px solid #eee;
		display: flex;
		margin-top: 16px;
		flex-direction: column;

		.segment-time {
			margin: 13px 0 0 8px;
			font-size: 0.85em;
			color: #aaa;
		}

		.segment-comments {
			flex: 1;
			overflow: scroll;		

			.segment-comments-comment {
				border: 1px solid #ddd;
				margin: 8px;
				border-radius: 3px;
				padding: 6px 10px;
				font-size: 0.9em;
				overflow: hidden;

				.comment-avatar {
					.comment-avatar-image {
						vertical-align: middle;
						width: 30px;
						float: left;
						margin: 2px 8px 0px 0px;
					}
				}

				.comment-name {
					font-weight: bold;
				}

				.comment-replies {
					margin: 10px -10px -6px;

					.comment-replies-reply {
						padding: 10px;
						border-top: 1px solid #ddd;
					}
				}
			}
		}
	}
}